
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    line-height: 1.8;
    font:15px/1.5 Verdana,  Geneva, Tahoma, sans-serif;  
    padding: 0;
    margin: 0;
    background-color: rgb(54, 34, 59);
}
/*Global*/
.container{
        width:90%;
        margin:auto;
        overflow: hidden; 
     
} 
  
ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:rgb(4, 3, 97);
    border: 10%;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(238, 238, 228);
}

.dark{
    padding:15px;
    background: rgb(15, 0, 0);
    color: rgba(219, 208, 208, 0.89);
    margin-top: 10px;
    margin-bottom: 10px;
}
/*header*/
header{
    background: rgb(8, 126, 28);
    color: rgb(16, 2, 77);
    font-style: italic;
    padding-top: 10px;
    min-height: 30px;
    border-bottom:rgb(5, 1, 26)  7px solid;
}

header a{

    color: rgb(169, 163, 251);
    font-weight: bold;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;    
    }

header ul{
    margin: 0;
    padding:0;
    }

    header li{
        float: left;
        display:inline;
        padding: 0px 20px 0px 20px;
            }
    header #branding{
        float:left;
        
    }
    header #branding h1{
        margin-bottom: 25px;
    }
    header nav{
        float:right;
        margin-bottom: 30px;
    }
    header .highlight,header.current a{
        color:rgb(19, 6, 133);
        font-weight:bolder;
        
    }

    header a:hover{
        color:rgb(208, 255, 0);
        font-weight: bold;
    }

    /*showcase*/
    #showcase{
        
        min-height: 400px;
        background:url("./HomeServices.jpg") no-repeat 0 -400px;
        background-position:center ;
        text-align: center;   
        color: rgb(124, 4, 102); 
        background-color: rgba(1, 37, 16, 0.9);
        font-size: 30px;
               }
    #showcase h1{
        margin-bottom: -20px;
        font-size: 30px;
        margin-top: 160px;    
    }
    #showcase p{
        font-size: 15px;
        font-style: normal;
        font-display:initial;
        color: rgb(27, 6, 87);
        font-weight: bold;
        
    }
    /* news letter*/
    #newsletter {
        padding: -10px;
        margin-bottom: 10px;
        margin-top: 1px;
        color:rgb(5, 153, 109);
        background:rgb(13, 1, 51);
        font-size: 12px;
    }

    #newsletter h1{
        float:left
               }
    #newsletter form{
        float:left;
        margin-left: 10px;
        margin-top:10px;
      }

    #newsletter input[type="email"]{
        padding: 4px;
        height: 25px;
        width: 250px;
    }
    /*boxes*/
    #boxes{
        margin-top: 10px;
    }    
    #boxes .box{
        float:left;
        width: 30%;
        padding: 10px;
        text-align: center;
    }

    #boxes.box img  {
        width: 90px;
    }
        
    /* Sidebar*/
    aside#sidebar{
        float:right;
        width:30%;
        margin-top: 0px;
        color: rgb(240, 237, 243);
    }

    /*main-col*/
    article#main-col{
        float: left;
        width:65%;
        color: rgb(202, 190, 190);
    }

    /*services*/

    ul#services li{
        float: left;
        width: 40%;
        list-style:none;
        padding:10px;
        border:rgb(46, 17, 17) solid 2px;
        margin-bottom: 20px;
        background: rgb(15, 0, 0);
        

    }
    footer {
        color: rgb(242, 248, 248);
        background-color: rgb(10, 2, 46);
        text-align: center;
        margin-top: 80px;
        padding: 10px;
        height: 20px;
        padding-bottom: 35px;
        }
   /*media queries*/
   @media(max-width:768px){
       header #branding,
       header nav,
       header nav li
       #newsletter h1,
       #newsletter form,
       #boxes.box,
       article#main-col,
       aside#sidebar {
       float:none;
       text-align:center;
       width:100%
       }
       header{
           padding-bottom: 20px;
                  }
    #showcase h1{
        margin-top:40px;
    }
    #newsletter .button, .quote button{
        display:block;
        width:100%;
    }
    #newsletter form input[type="email"] .quote input,.quote textarea{
        width:100%;
        margin-bottom: 5px;
    }
   }     

